[Boto]
validate_certs=False
https_validate_certificates=False
ec2_region_name={{ boto_aws_region }}
ec2_region_endpoint={{ boto_aws_region_endpoint }}

[s3]
calling_format = boto.s3.connection.OrdinaryCallingFormat
host = {{ s3_main_bucket_region_url }}
